.box img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
  height: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.overlay h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.overlay p {
  font-size: 1rem;
  color: #ebe8e8;
}

.box:hover .overlay {
  height: 100%;
}
