@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  background: #191e24;
  color: #fff;
  font-weight: 700;
}
a.breadcrumbs.active {
  background: inherit;
  color: #fff;
  font-weight: 700;
}
